/* You can add global styles to this file, and also import other style files */
.center {
  margin: auto;
  width: 100px;
  /*border: 3px solid green;*/
  /*padding: 10px;*/
}
.picMaxSize {
  height: 100px;
  width: 500px;
  margin-left: 50%;
}
.centerSmaller {
  margin: auto;
  width: 100px;
  /*border: 3px solid green;*/
  padding-left: 10px;
  /*padding: 10px;*/
}
.picture{
  max-height: 200px;
  max-width: 70px;
}

