<h1>Take a look at the present Project Status</h1>
<div>Since we received the first prototype we were astonished about the manufacturing quality and fitting of all parts and especially the treads. After the cleaning and preparation we went for the first try.</div>
<div>It took us a few hours to figure out, which size and diameter of the coil delivers the best results. We ended up with close to 2 Ohms at a diameter of nearly 12mm.</div>
<div>Unfortunately the air lost too much temperature on its way to the herbs, so we were not able to make it work properly with the first prototype. The housing heated up too much without any insulation.</div>
<div>Nevertheless we played around with a few new ideas, to make as little changes as possible. Most concepts were not enough promising, so we decided to redesign the whole vaporizer. Our goal is to launch an AAA product. Nothing more, BUT nothing less</div>
<div>That being said: the second prototype is already in development!</div>
<h2>Stay tuned Vaperzzzzzz</h2>
