<h1>Wanna meet the Masterminds behind this project?</h1>
<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-4 col-lg-3">
      <div class="team-block bottom">
        <img src="/assets/pics/stickFigure.png" class="img-responsive" alt="img">
        <div class="team-content">
          <ul class="list-unstyled">
          </ul>
          <span>Founder</span>
          <h4>Nils Krais</h4>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-4 col-lg-3">
      <div class="team-block bottom">
        <img src="/assets/pics/stickFigure.png" class="img-responsive" alt="img">
        <div class="team-content">
          <ul class="list-unstyled">
          </ul>
          <span>Founder</span>
          <h4>Til Tutschku</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div>The two founders Nils and Til met during their studies at the University of applied Science Coburg. Til brought Nils to the idea to quit smoking and start using an electronic cigarette. Since then both were not satisfied with what the market had to offer</div>
<div>After playing around with some ideas, they realized it was actually possible to develope an atomizer themselfes. A few days later the construction was done. Drawings were created and the CAD job was done. Then the cutting edge technology came to use: CFD Simulations</div>
<div>The first results were already pretty positive, which led the two engineers into the production of their first prototype. We could not be more proud to present you:</div>
<h2>HERBIE the Herbal Atomizer</h2>
