<h1>Take a look at the present Project Status</h1>
<div>Like in every Project the struggle was real. Since both, Nils and Til, worked a regular full time job, the amount of time was very limited. Only weekends and at night there was time to develope, plan and communicate.</div>
<div>The idea was born in Summer 2016 and the production of the first parts started at the beginning of 2017. Since then it was a long way, to get everything together. All parts had to be made out of stainless steel for the best durability and food safety</div>
<div>The use of ceramics was never an option, due to the fact, that micro fragments can break of the piece while heating it. That would be a major health risk, which we avoided under all costs. Therefore we had to develope a different way for the thermal insulation</div>
<div>Furthermore the main goal was to produce vapor instead of smoke. We tried to make it work by separating the hot coil from the herbs. By forcing the warm air to stream through the heat spreader we tried to accomplish that separation.</div>
<h2>Stay tuned Vaperzzzzzz</h2>
