<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Vape</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <!--active-->">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="product" routerLinkActive="active">Produkte</a> <!--<span class="sr-only">(current)</span></a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="configurator" routerLinkActive="active">Konfigurator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="post" routerLinkActive="active">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="configurator" routerLinkActive="active">Configurator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="aboutUs" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="projectStatus" routerLinkActive="active">Project Status</a>
        <a class="nav-link waves-light" mdbWavesEffect routerLink="info" routerLinkActive="active">Über uns</a>
      </li>
    </ul>

  </links>

</mdb-navbar>

<!--<nav class="navbar navbar-expand navbar-dark bg-dark">-->
  <!--<a class="navbar-brand d-sm-block d-none" routerLink="">Vape Home</a>-->
  <!--<div class="collapse navbar-collapse" id="navbarNav">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="post" routerLinkActive="active">Forum</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="info" routerLinkActive="active">Infos</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->

<p>User: {{ user | json}}</p>

<button (click)="loginAsMichi()" *ngIf="!user">Login as Michi</button>
<button (click)="logout()" *ngIf="user">Logout</button>
<div class=""></div>


<router-outlet></router-outlet>
