<h1>Just take a look, how beautiful Herbie looks on your Mod</h1>

<div class="centerSmaller">
  <img src="/assets/pics/herbie_ganz.png" class="picture">
</div>
  <div class="center">
<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-10" src="/assets/pics/nunchaku_black.png" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-10" src="/assets/pics/nunchaku_blue.png" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-10" src="/assets/pics/nunchaku_full_black.png" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-10" src="/assets/pics/nunchaku_green.png" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-10" src="/assets/pics/nunchaku_purple.png" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-10" src="/assets/pics/nunchaku_silver.png" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>
</div>
